{% extends 'base.html' %}

{% block title %} Forgot Password {% endblock title %}

{% block content %}
<div class="body-section">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h3 ml-auto"><a href="/">App</a></span>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 m-4 p-3 border">
                <center>
                    <h5>Forgot Password</h5>
                </center>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="********" required>
                        {% if form.password.errors %}
                        <small class="form-text text-danger">{{form.password.errors.0}}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" name="confirm_password" placeholder="********"
                            required>
                        {% if form.confirm_password.errors %}
                        <small class="form-text text-danger">{{form.confirm_password.errors.0}}</small>
                        {% endif %}
                    </div>
                    <div class="center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <span>
                            <a href="{% url 'signup-view' %}" class="">
                                <p class="text-primary">Create a New Account ?</p>
                            </a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
